<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/xinjiang.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/epidemic/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/epidemic/static/css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="/epidemic/static/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
<!-- //Custom Theme files -->
<!-- web-fonts -->
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body>
	<!-- banner -->
	<div class="agileits-banner">

		<div class="bnr-agileinfo">
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						
						<h1><a href="index">疫情地图<span>Epidemic map</span> </a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-right">
							<ul class="nav navbar">
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">各省地图</span><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/epidemic/templates/templates_map/hubei.html">湖北</a></li>
										<li><a href="/epidemic/templates/templates_map/henan.html">河南</a></li>
										<li><a href="/epidemic/templates/templates_map/zhejiang.html">浙江</a></li>
										<li><a href="/epidemic/templates/templates_map/anhui.html">安徽</a></li>
										<li><a href="/epidemic/templates/templates_map/jiangxi.html">江西</a></li>
										<li><a href="/epidemic/templates/templates_map/hunan.html">湖南</a></li>
										<li><a href="/epidemic/templates/templates_map/jiangsu.html">江苏</a></li>
										<li><a href="/epidemic/templates/templates_map/shandong.html">山东</a></li>
										<li><a href="/epidemic/templates/templates_map/guangdong.html">广东</a></li>
										<li><a href="/epidemic/templates/templates_map/chongqing.html">重庆</a></li>
										<li><a href="/epidemic/templates/templates_map/heilongjiang.html">黑龙江</a></li>
										<li><a href="/epidemic/templates/templates_map/sichuan.html">四川</a></li>
										<li><a href="/epidemic/templates/templates_map/beijing.html">北京</a></li>
										<li><a href="/epidemic/templates/templates_map/fujian.html">福建</a></li>
										<li><a href="/epidemic/templates/templates_map/shanghai.html">上海</a></li>
										<li><a href="/epidemic/templates/templates_map/hebei.html">河北</a></li>
										<li><a href="/epidemic/templates/templates_map/guangxi.html">广西</a></li>
										<li><a href="/epidemic/templates/templates_map/shanxi.html">陕西</a></li>
										<li><a href="/epidemic/templates/templates_map/yunnan.html">云南</a></li>
										<li><a href="/epidemic/templates/templates_map/hainan.html">海南</a></li>
										<li><a href="/epidemic/templates/templates_map/guizhou.html">贵州</a></li>
										<li><a href="/epidemic/templates/templates_map/liaoning.html">辽宁</a></li>
										<li><a href="/epidemic/templates/templates_map/shanxi1.html">山西</a></li>
										<li><a href="/epidemic/templates/templates_map/tianjin.html">天津</a></li>
										<li><a href="/epidemic/templates/templates_map/xinjiang.html">新疆</a></li>
										<li><a href="/epidemic/templates/templates_map/jilin.html">吉林</a></li>
										<li><a href="/epidemic/templates/templates_map/neimeng.html">内蒙</a></li>
										<li><a href="/epidemic/templates/templates_map/xianggang.html">香港</a></li>
										<li><a href="/epidemic/templates/templates_map/gansu.html">甘肃</a></li>
										<li><a href="/epidemic/templates/templates_map/ningxia.html">宁夏</a></li>
										<li><a href="/epidemic/templates/templates_map/taiwan.html">台湾</a></li>
										<li><a href="/epidemic/templates/templates_map/aomen.html">澳门</a></li>
										<li><a href="/epidemic/templates/templates_map/qinghai.html">青海</a></li>
										<li><a href="/epidemic/templates/templates_map/xizang.html">西藏</a></li>
									</ul>
								</li>								
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			<!-- //navigation -->
            <div class="banner-w3text">
				<div class="container">
					<ul id="vertical-ticker">
						<li>抱歉</li>
						<li>由于{{ province }} </li>
						<li>不是按照地区统计 </li>
						<li>所以无法在地图上显示</li>
						<li>{{ province }}现存确诊人数为{{ data }}</li>

					</ul>

				</div>
			</div>
			</div>
			<!-- //banner-text -->
		</div>
	</div>


	<!-- js -->
	<script src="/epidemic/static/js/jquery-2.2.3.min.js"></script>
	<script src="/epidemic/static/js/jarallax.js"></script>
	<script src="/epidemic/static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //js -->
	<!-- text Ticker -->
	<script type="text/javascript" src="/epidemic/static/js/jquery.totemticker.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#vertical-ticker').totemticker({
				row_height	:	'100px',
				next		:	'#ticker-next',
				previous	:	'#ticker-previous',
				stop		:	'#stop',
				start		:	'#start',
				mousestop	:	true
			});
		});
	</script>
	<!-- //text Ticker -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="/epidemic/static/js/move-top.js"></script>
	<script type="text/javascript" src="/epidemic/static/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Progressive-Effects-Animation-JavaScript -->
	<script type="text/javascript" src="/epidemic/static/js/numscroller-1.0.js"></script>
	<!-- //Progressive-Effects-Animation-JavaScript -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/epidemic/static/js/bootstrap.js"></script>
</body>
</html>